<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
Founded in 2014, Jumanji Cinema is actually one of the most frequently visited cinema in London. Our cinema is equipped with the Hi Definition Class projectors, and sound systems. In our screen room there are 224 comfortable seat, which allows, to watch showing without discomfort.</p> 
</p>Jumanji Cinema online portal has been designed to provide functionality of buying tickets for actually presented showings using web site. Customers after buying ticket using our portal, can receive paper version of it in our cinema, after showing order number, and positive verification of its status.
</p>