<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
In case of contact needs, please use below communications method:</p>
<p>E-mail : Jumanji@cinema.com</p>
<p>Tel : 765678876</p>
<p>Or write directly to :</p>
<p>Jumanji Cinema</p>
<p>Wojciecha Kołoszy Str. 23c\24</p>
<p>33-333 London</p>
</p>