<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Welcome to our help site. Below we have collected and answered to most frequently ask questions:
</p>
<p>1. What is the main role of this site?</p>
<p>- This site has been designed to allow Jumanji Cinema customers, to buy tickets to actually showing movies. Customers can choose free seats in cinema room, and pay for ticket using przelewy24.pl service.</p> 
<p>2. How can I obtain physical tickets?</p>
<p>- All purchased tickets must be received personally in Jumanji Cinema before start of the reserved showing.</p>
<p>3. Can I book via other means than online (eg via telephone)?</p>
<p>- Jumanji Cinema realise that it's not always convenient to book online, but actually the only way to buy ticket is to buy ticket in Jumanji Cinema, or using our website service.
</p>