<div class="col-lg-4">
	<div class="thumbnail">
		<%= image_tag movie.image_url.to_s %>
		<div class="caption">
			<h4><%= link_to movie.title, showing_path(movie) %></h4>
			<p><%= movie.genre.name %></p>
		</div>
	</div>
</div>
